.app {
  display: flex;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.incident-list {
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}

@media only screen and (max-width: 960px) {
  .app {
    flex-direction: column;
  }

  .map {
    width: 100%;
    z-index: -10;
  }

  .incident-list {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .app {
    flex-direction: row;
  }

  .map {
    left: 360px;
    right: 0;
  }

  .incident-list {
    width: 360px;
  }
}

.marker {
  width: 50px;
  height: 50px;
  background-color: red;
}
