.app { }

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.incident-list {
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 960px) {
  .map {
    width: 100%;
    z-index: -10;
  }

  .incident-list {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .map {
    left: 360px;
    right: 0;
  }

  .incident-list {
    width: 360px;
  }
}

.incident-list {
  background: #fff;
}

.incident-list h2 {
  padding: 0 0 0 20px;
}

.title {
  background-color: #f0f0ff;
}

.incidents {
  height: 100%;
  overflow: auto;
  border-left: solid 2px #bbbbff;
  border-right: solid 1px #bbbbff;
  border-top: solid 1px #bbbbff;
}

.incidents .item {
  padding: 20px;
  border-bottom: solid 1px #eee0ff;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .incident-list.sm-closed {
    display: none;
  }

  .incident-list.sm-open {
    display: block;
  }
}

.marker {
  font-size: 20px;
}
